<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "org/apache/ibatis/builder/xml/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.RentalCompany.dao.ICarDAO">

    <sql id="body">
        c.id as id,
        c.VIN as vin,
        c.category_id as categoryId,
        c.brand as brand,
        c.model as model,
        c.number as number,
        c.year as year,
        c.day_price as dayPrice
    </sql>

    <select id="getEntityById" resultMap="carResultMap">
        SELECT
        <include refid="body"/>
        FROM
        car c
        WHERE id = #{id}
    </select>

    <insert id="createEntity" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO car (VIN, category_id, brand, model, number, year, day_price)
        VALUES (#{vin}, #{categoryId}, #{brand}, #{model}, #{number}, #{year}, #{dayPrice}  )
    </insert>

    <update id="updateEntity">
        UPDATE car
        <set>
            <if test="vin != null">VIN=#{vin},</if>
            <if test="categoryId != null">category_id=#{categoryId},</if>
            <if test="brand != null">brand=#{brand},</if>
            <if test="model != null">model=#{model},</if>
            <if test="number != null">number=#{number},</if>
            <if test="year != null">year=#{year},</if>
            <if test="dayPrice != null">day_price=#{dayPrice},</if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="removeEntityById">
        DELETE FROM car
        WHERE id=#{id}
    </delete>

    <resultMap id="carResultMap" type="com.solvd.RentalCompany.models.Car" autoMapping="false">
        <id column="id" property="id"/>
        <result column="VIN" property="vin"/>
        <result column="category_id" property="categoryId"/>
        <result column="brand" property="brand"/>
        <result column="model" property="model"/>
        <result column="number" property="number"/>
        <result column="year" property="year"/>
        <result column="day_price" property="dayPrice"/>
    </resultMap>

</mapper>